.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 272px;
	padding-top: 109px
}
.search-bar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px 30px 30px 30px;
	width: 35%;
	height: 50px;
}
header  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.nav-links{
	list-style: none;
	font-family: arial,sans-serif;
	
}
.nav-links li {
	display: inline-block;
	padding-right: 20px;
	
	
}
.two_buttons {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
#search {
	margin-right: 5px;
}
#feeling_lucky {
	margin-left: 5px;
}
.footer-list1 {
	list-style: none;
}
.footer-list1 li {
	display: inline-block;
	padding: 20px;
	}

.left-bar {

	}
.right-bar {
	position: absolute;
    right: -10px;
    bottom: 0;
}

.bottom-bar {
bottom: 0;
left: 0;
position: absolute;
right: 0;
background: #f2f2f2;
line-height: 10px;
min-width: 980px;
border-top: 1px solid #dadce0;
min-width: 400px;
font-size: 10pt;
font-family: arial,sans-serif;

}
.bar {
	font-family: arial,sans-serif;	
}
a {text-decoration: none; 
	color: black;
}